<?xml version="1.0" encoding="utf-8" ?>
<injector>
  <callPolicies>
    <callPolicy>
      <behaviours>
        <behaviour type="LWJ.Injection.Aop.ParameterValidator.ParameterValidatorBehaviour,LWJ.Injection.Extensions"  >
          <parameterName />
          <validatorType>UsageAttribute</validatorType>
        </behaviour>
      </behaviours>
      <matchRules>
        <matchRule type="LWJ.Injection.Aop.ParameterAttributeMatchRule,LWJ.Injection" >
          <_constructor>
            <type>LWJ.Injection.Aop.ParameterValidator.ParameterValidatorAttribute,LWJ.Injection.Extensions</type>
            <bool>true</bool>
          </_constructor>
        </matchRule>
      </matchRules>
    </callPolicy>
    <callPolicy>
      <behaviours>
        <behaviour type="LWJ.Injection.Aop.Caching.CachingCallBehaviour,LWJ.Injection.Extensions"  >
          <_constructor>
            <bool>true</bool>
          </_constructor>
        </behaviour>
      </behaviours>
      <matchRules>
        <matchRule type="LWJ.Injection.Aop.MethodAttributeMatchRule,LWJ.Injection" >
          <_constructor>
            <type>LWJ.Injection.Aop.Caching.CachingCallAttribute,LWJ.Injection.Extensions</type>
            <bool>true</bool>
          </_constructor>
        </matchRule>
      </matchRules>
    </callPolicy>
    <callPolicy>
      <behaviours>
        <behaviour type="LWJ.Injection.Aop.Caller.CallerInfoBehavior,LWJ.Injection.Extensions"  >
          <_constructor>
            <bool>true</bool>
          </_constructor>
        </behaviour>
      </behaviours>
      <matchRules>
        <matchRule type="LWJ.Injection.Aop.ParameterAttributeMatchRule,LWJ.Injection" >
          <_constructor>
            <type>LWJ.Injection.Aop.Caller.CallerInfoAttribute,LWJ.Injection.Extensions</type>
            <bool>true</bool>
          </_constructor>
        </matchRule>
      </matchRules>
    </callPolicy>
    <callPolicy>
      <behaviours>
        <behaviour type="LWJ.Injection.Aop.Permission.PermissionCallBehaviour,LWJ.Injection.Extensions"  />
      </behaviours>
      <matchRules>
        <matchRule type="LWJ.Injection.Aop.MethodAttributeMatchRule,LWJ.Injection" >
          <_constructor>
            <type>LWJ.Injection.Aop.Permission.PermissionAttribute,LWJ.Injection.Extensions</type>
            <bool>true</bool>
          </_constructor>
        </matchRule>
      </matchRules>
    </callPolicy>
    <callPolicy>
      <behaviours>
        <behaviour type="LWJ.Injection.Aop.Performance.PerformanceBehaviour,LWJ.Injection.Extensions"  />
      </behaviours>
      <matchRules>
        <matchRule type="LWJ.Injection.Aop.MethodAttributeMatchRule,LWJ.Injection" >
          <_constructor>
            <type>LWJ.Injection.Aop.Performance.PerformanceTimeAttribute,LWJ.Injection.Extensions</type>
            <bool>true</bool>
          </_constructor>
        </matchRule>
      </matchRules>
    </callPolicy>
  </callPolicies>
</injector>